/* Root Stylings */
:root {
    --primary-font: 'Rajdhani', sans-serif;
    --primary-font-weight: 600;
    --primary-font-bold: 700;
    --primary-color-red: #FF0000;
    --secondary-color-dark-red: #CC0000;
    --primary-color-blue: #3B4CCA;
    --primary-color-yellow: #FFDE00;
    --secondary-color-dark-yellow: #B3A125;
}

/* Universal Stylings */
* {
    box-sizing: border-box;
}

/* Body and Default Stylings */
body {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}

/* Heading Stylings */
h1 {
    font-size: 24px;
    font-weight: var(--primary-font-bold);
    padding-bottom: 10px;
}

/* Pokemon List Stylings */

/* Pokemon List Stylings */
.pokemon-button {
    background-color: var(--primary-color-blue);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    text-align: left;
}

.pokemon-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.pokemon-list-div {
    width: 90vw;
    margin: auto;
}

